# Навигационное меню
<header class="header">
        <div class="logo">
            <a href="#"><img src="/static/image/Logo_mini_2.jpg" alt=""></a>
        </div>
        <nav class="navi">
            <ul>
                <li><a href="#" class="button">Видеонаблюдение</a></li>
                <li><a href="#" class="button">Домофоны</a></li>
                <li><a href="#" class="button">Кабельная продукция</a></li>
                <li><a href="#" class="button">Сетевое оборудование</a></li>
                <li><a href="#" class="button">Источники питания</a></li>
                <li><a href="#" class="button">Аксессуары</a></li>
                <li><a href="#" class="button">Контакты</a></li>
            </ul>
        </nav>
    </header>